#container {
    background-color: pink;
   display: flex;
   flex-wrap: wrap;
   width: 1000px;
}

.sketchBox {
    width: 250px;
    border: 2px solid black;
    background-color: white; 
}

.sketchBox:after { 
    display: block;
    padding-bottom: 100%;
}
