#container {
    background-color: pink;
   display: flex;
   flex-wrap: wrap;
   width: 980px;
   height: 980px;
}
.sketchBox {
    position: relative;
    width: calc((100% / var(--columns)) - 2px);
    aspect-ratio: 1;
    border: 1px solid black;
    background-color: white; 
    opacity: 0;
}
.sketchBox:after { 
    display: block;
    padding-bottom: 100%;
}
.draw {
    background-color: var(--randomColor);
}
.clear {
    background-color: pink;
    margin: 10px; 
}
.button-div {
    display: flex;
    justify-content: center;
}
.page {
    display: flex;
    justify-content: center;
}
#newGrid {
    margin-bottom: 10px; 
}
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex; 
    align-items: center;
}